[noco]
api_key = NoCo API Token
urlbulk = NoCo bulk endpoint
url =     Noco base url

[datapath]
netpath = Network path (ie \\HOST\target\path)
shareuser = network user
sharepass = network password
localpath = path to local data saves

[messageq]
rmquser = rabbitmq username
rmqpass = rabbitmq password
rmqip   = rabbitmq ip address
rmqport = rabbitmq port