{
    "IPS": {
        "IP ADDRESS" : {
            "type"      : "DEVICE TYPE",
            "username"  : "DEVICE USER NAME",
            "password"  : "DEVICE PASSWORD",
            "Name"      : "DEVICE NAME",
            "Division"  : "DEVICE DIVISION",
            "Geo"       : "DEVICE GEOLOCATION",
            "SN"        : "DEVICE SN"
        },
        "IP ADDRESS VMAX" : {
            "type"      : "DEVICE TYPE",
            "username"  : "USER NAME",
            "password"  : "USER NAME",
            "Name"      : "DEVICE NAME",
            "Division"  : "DEVICE DIVISION",
            "Geo"       : "DEVICE GEOLOCATION",
            "SN"        : "DEVICE SN",
            "symcli"    : "VMAX CLI NAME
            "sid"       : "VMAX sid"
        }
}